<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Blurbi - Analytics</title>
		<link rel="shortcut icon" href="../img/favicon.png">
		<link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
		<link href="../assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="../assets/css/tylerstyle.css" />
		<link rel="stylesheet" href="../assets/css/font.css" />

		<!--ace styles-->

		<link rel="stylesheet" href="../assets/css/ace.min.css" />
	</head>

	<body>

		<!-- start top bar section -->
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<div class="container-fluid">
	                <div class="span2"><a href="#"><img class="logo" src="../assets/images/betatoplogo125.png"></a></div>
						
					<ul class="nav ace-nav pull-right">
						<li class="light-blue user-profile">
							<a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
								
								<img src="../assets/avatars/default.png" onerror="this.src='../assets/avatars/default.png';" class="nav-user-photo" style="width: 36px; height: 36px;">
								
								<span id="user_info">
									<small>Welcome,</small>Blurbi
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer" id="user_menu">
								

								<li>
									<a href="/signout">
										<i class="icon-off"></i>
										Logout
									</a>
								</li>
							</ul>
						</li>

					</ul><!--/.ace-nav-->
				</div>
			</div><!--/.container-fluid-->
		</div><!--/.navbar-inner-->


		<!-- end top bar section -->
		





		<div class="container-fluid" id="main-container">

			<a id="menu-toggler" href="#">
				<span></span>
			</a>



			<!-- start side bar section -->

			<div id="sidebar">
				
				<% include sidebar.ejs %>
				
			</div>

			<!-- end sidebar section -->




			<div id="main-content" class="clearfix">
				
				<div id="page-content" class="clearfix">
				
				
				
					<div class="page-header position-relative">
						
					</div><!--/.page-header-->

					<div class="row-fluid" >
					
						<!--PAGE CONTENT BEGINS HERE-->


						<!-- starts transactions info section -->

						<div class="transactions">
							<ul style="list-style-type: none; margin-bottom: -7px">
								<li>
									<div class="boxwidth2" style="width: 50%; margin-right: 12px; float: left">
										<div class="vspace"></div>

									
										<div class="widget-box no-border" >
											<div class="widget-header widget-header-flat widget-header-small">
												<h2>Blurbs Accepted : <span class="text-warning">1362</span></h2>
												

												<div class="widget-toolbar no-border">
													<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
														This Week
														<i class="icon-angle-down icon-on-right"></i>
													</button>

													<ul class="dropdown-menu dropdown-info pull-right dropdown-caret">
														<li class="active">
															<a href="#">This Week</a>
														</li>

														<li>
															<a href="#">This month</a>
														</li>

														<li>
															<a href="#">All Time</a>
														</li>

														<li>
															<a href="#">Weekly Average</a>
														</li>
													</ul>
												</div>
											</div>

										
										</div><!--/widget-box-->
								
									</div><!--end boxwidth 1-->
								</li>

								<li>
									<div class="boxwidth2" style="width: 50%; margin-right: 12px; float: left">
										<div class="vspace"></div>

									
										<div class="widget-box no-border" >
											<div class="widget-header widget-header-flat widget-header-small">
												<h2>Revenue : <span class="green">$2500</span></h2>
												

												<div class="widget-toolbar no-border">
													<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
														This Week
														<i class="icon-angle-down icon-on-right"></i>
													</button>

													<ul class="dropdown-menu dropdown-info pull-right dropdown-caret">
														<li class="active">
															<a href="#">This Week</a>
														</li>

														<li>
															<a href="#">This month</a>
														</li>

														<li>
															<a href="#">All Time</a>
														</li>

														<li>
															<a href="#">Weekly Average</a>
														</li>
													</ul>
												</div>
											</div>

										
										</div><!--/widget-box-->
								
									</div><!--end boxwidth 1-->
								</li>


								<li>
									<div class="boxwidth2" style="width: 50%; margin-right: 12px; float: left">
										<div class="vspace"></div>

									
										<div class="widget-box no-border" >
											<div class="widget-header widget-header-flat widget-header-small">
												<h2>Pending Expenses : <span class="red">$2100</span></h2>
												

												<div class="widget-toolbar no-border">
													<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
														This Week
														<i class="icon-angle-down icon-on-right"></i>
													</button>

													<ul class="dropdown-menu dropdown-info pull-right dropdown-caret">
														<li class="active">
															<a href="#">This Week</a>
														</li>

														<li>
															<a href="#">This month</a>
														</li>

														<li>
															<a href="#">All Time</a>
														</li>

														<li>
															<a href="#">Weekly Average</a>
														</li>
													</ul>
												</div>
											</div>

										
										</div><!--/widget-box-->
								
									</div><!--end boxwidth 1-->
								</li>


								<li>
									<div class="boxwidth2" style="width: 50%; margin-right: 12px; float: left">
										<div class="vspace"></div>

									
										<div class="widget-box no-border" >
											<div class="widget-header widget-header-flat widget-header-small">
												<h2>Pending Profits : <span class="blue">$2100</span></h2>
												

												<div class="widget-toolbar no-border">
													<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
														This Week
														<i class="icon-angle-down icon-on-right"></i>
													</button>

													<ul class="dropdown-menu dropdown-info pull-right dropdown-caret">
														<li class="active">
															<a href="#">This Week</a>
														</li>

														<li>
															<a href="#">This month</a>
														</li>

														<li>
															<a href="#">All Time</a>
														</li>

														<li>
															<a href="#">Weekly Average</a>
														</li>
													</ul>
												</div>
											</div>

										
										</div><!--/widget-box-->
								
									</div><!--end boxwidth 1-->
								</li>


							</ul>
						</div>

						<!-- end transactions info section -->



						
						<!-- start transaction graph section -->

						<div class="boxwidth2" style="width: 50%; margin-right: 12px; margin-top: 50px; float: left">
							<div class="vspace"></div>

							<canvas id="canvas" height="350" width="700"></canvas>	
										
								
						</div><!--end boxwidth 1-->

						<!-- end transaction graph section -->


						


						

					</div>	 <!-- end row-fluid -->

				</div> <!-- end page content -->

			</div><!--/#main-content-->
		</div><!--/.fluid-container#main-container-->


		<!-- start feedback section -->

		<div class="feedback">


			<div style="background: #FFFFFF; width: 100%; height: 25px; position:fixed; bottom:0%; left:1%; ">

		
				<ul style="list-style:none;">
					<li style="display:inline-block; margin:0 10px; vertical-align: middle;  font-size: 13px;"><a href="/users/FAQuser" style="cursor: pointer; color: #5C983B;">FAQ</a></li>
					<li style="display:inline-block; margin:0 10px; vertical-align: middle;  font-size: 13px;"><a style="cursor: pointer; color: #5C983B;" href="/policy" target="_blank">Privacy</a></li>
					<li style="display:inline-block; margin:0 10px; vertical-align: middle;  font-size: 13px;"><a style="cursor: pointer; color: #5C983B;" href="/terms" target="_blank">TOS</a></li>
					<li style="display:inline-block; margin:0 10px; vertical-align: middle;  font-size: 13px;"><a style="cursor: pointer; color: #5C983B;" href="http://blog.blurbi.ca/" target="_blank">Blog</a></li>
					<li style="display:inline-block; margin:0 10px; vertical-align: middle;  font-size: 13px;"><a style="cursor: pointer; color: #5C983B;" href="/users/Feedback">Feedback</a></li>
				</ul>
				
				
			</div>
			


		</div>

		<!-- end feedback section -->



		<script src='../assets/js/jquery-1.9.1.min.js'></script>
		<script src="../assets/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src='../assets/js/Chart.js'></script>
		<script src="../js/topbar.js"></script>


	<script>

		/*var lineChartData = {
			labels : ["January","February","March","April","May","June","July"],
			datasets : [
				{
					fillColor : "rgba(220,220,220,0.5)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					data : [65,59,90,81,56,55,40]
				},
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					data : [28,48,40,19,96,27,100]
				}
			]
			
		}

		var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);*/


		var lineChartData = {
		     labels :["January","February","March","April","May","June","July"],
		     datasets : [
		      
		      //twitter
		      {
		       fillColor: "rgba(0,0,0,0)",
		                strokeColor: "rgba(255,0,0,1)",
		                pointColor: "#FF0000",
		                pointStrokeColor: "#FF0000",
		                data : [65,59,90,81,56,55,40]
		                /*data: twitDataSet*/
		      },
		      //facebook
		      {
		       fillColor: "rgba(0,0,0,0)",
		                strokeColor: "rgba(0,153,0,1)",
		                pointColor: "#009900",
		                pointStrokeColor: "#009900",
		       			data : [34,76,68,83,59,50,23]
		      /* data: fbDataSet*/
		      },
		      //linkedin
		      {
		       
		                fillColor: "rgba(0,0,0,0)",
		                strokeColor: "rgba(0,76,153,1)",
		                pointColor: "#004C99",
		                pointStrokeColor: "#004C99",
		       			data : [28,48,40,19,96,27,100,45]
		      /* data: LkdnDataSet*/
		      },
		     ]
		     
		    }
		    var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);
	
	</script>
		
		
		
		
	</body>
</html>
