<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<title>Blurbi - User Validation</title>
		<link rel="shortcut icon" href="img/favicon.png">
		<link href="../assets/css/bootstrap3.css" rel="stylesheet" />
		<link rel="stylesheet" href="../assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="../assets/css/font.css" />
		<link rel="stylesheet" href="../assets/css/core-ace3.css" />
		<link rel="stylesheet" href="../assets/css/tylerstyle.css" />
</head>
<script type="text/javascript">
if (window.opener) {
    window.close();
    window.opener.location.reload();
}
</script>
<body>


<div class="navbar">
    <div class="col-xs-5 col-sm-3 col-md-2" style="padding: 0 0 0 50px;">
        <a href="">
            <img class="logo img-responsive" src="../assets/images/betatoplogo125.png">
        </a>
    </div>
</div>
<!--header-->
<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-3" style="padding-top:150px;">
	<div class="col-sm-12 col-md-10">
		<div class="alert alert-block alert-success">
			<!-- <button type="button" class="close" data-dismiss="alert">
				<i class="icon-remove"></i>
			</button> -->
			<p>
				Your account has been successfully activated.
			</p>

		</div>
	</div>
	<!-- <div class="col-sm-6">
		<form method="post" action="" id="approve">
			<div class="form-group">
				<label for="form-field-8">Password</label>
				<input class="form-control" type="password" id="password" required />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success btn-sm" id="pass_submit"> Submit</button>
			</div>
		 </form>
	</div> -->
</div>
<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-3" >
	<button type="submit" class="btn btn-success btn-sm" style="margin-left: 636px;" onclick="go_home()"> Go Home </button>
</div>
<script src='assets/js/jquery-1.9.1.min.js'></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
	function go_home(){
		window.location = '/users/home';
	}
</script>

</body>
</html>
