<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <meta name="description" content="flat modern and responsive forms">
	<meta name="author" content="Eon Dean">
	<!-- Mobile Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- IE  Compatibility -->
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Oswald:300,400,700|Open+Sans:300,400,700' rel='stylesheet'>
	<!-- Killua Flat Forms Demo  Stylesheets -->
	<link rel="stylesheet" href="../assets/css/404.css">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
	<!-- Favicon and Apple Icons -->
	<link rel="shortcut icon" href="">
	<link rel="apple-touch-icon" href="">
	<link rel="apple-touch-icon" sizes="72x72" href="">
	<link rel="apple-touch-icon" sizes="114x114" href="">
	<link rel="shortcut icon" href="../img/favicon.png">
</head>
<body>
<!-- For demo change colors -->
<!-- End colors panel -->
	<div class="left"> 
<h1> Ooops! Don't cry </h1>
<br>
<h2>Looks like we got ourselves a missing Llama</h2>
<br>
<h3> Why don't you find your way home </h3> 
<br>
<a href="/" class="myButton">Home</a>
<h4> If this problem persists contact info@blurbi.ca </h4>
  </div>
<img class="profile-img" src= "/img/llamaerror.png"> 
	<!-- END -->
	<script>
	/* 
		This code is just for the demo purpose. 
	*/
		(function() {
			var colors = document.querySelectorAll('.colors li'),
				i = 0,
				color;
				function createStyle( style ) {
					var cl =document.getElementById('colors');
						document.head.removeChild(cl);
					var link = document.createElement('link');
					link.rel = 'stylesheet';
					link.id = 'colors';
					link.setAttribute('href','css/colors/'+style)
					document.head.appendChild(link);
				}
				for(; i< colors.length; i++ ) {
					if( !window.attachEvent ) {
						colors[i].addEventListener('click', function() {
							color = this.getAttribute('data-color');	
							createStyle(color);
						}, false);
					} else {
						colors[i].attachEvent('onclick', function() {
							color = this.getAttribute('data-color');
							createStyle(color);
						});
					}
				}
		})();
	</script>
</body>
</html>