<html>
<head>
<link rel="shortcut icon" href="img/favicon.png">
</head>
<body>
   <div id="policy_modal"  >  
                <div style="background-color:  #D6E9C0;">  
                    <h2 >
                    Acceptance of Policy
                    
                    
                    </h2>  
                </div>      
                <div class="modal-body" >  
                    
                  
                    <p id="description">
                    Blurbi is founded on the principle of helping people market themselves or their business through social media. We know that you care about how your personal information is used and shared, and we take your privacy very seriously. By visiting the Blurbi website, you are accepting the practices outlined in this policy.
                    <br>
                    This Privacy Policy covers Blurbi's treatment of personal information that Blurbi gathers when you are on the Blurbi website and when you use Blurbi services. This policy does not apply to the practices of third parties that Blurbi does not own or control, or to individuals that Blurbi does not employ or manage.
                    <br>
                    <br>
                    <br>
                    <b>Information Collected by Blurbi</b>
                    <br>
                    We only collect personal information that is relevant to the purpose of our website. This information allows us to provide you with a customized and efficient experience. We collect the following types of information from our Blurbi users:
                    <br>
                    <br>
                    <br>
                    <b>Information You Provide to Us:</b>
                    <br>
                    1. We receive and store any information you enter on our website or provide to us in any other way. You can choose not to provide us with certain information, but then you may not be able to take advantage of many of our special features.
                    <br>
                    2. Registration: In order for you to use Blurbi services you must complete a registration form. As part of this registration form, we require select personal information.
                    <br>
                    <b>Automatic Information:</b>
                    <br>
                    1. We receive and store certain types of information whenever you interact with us. Blurbi and its authorized agents automatically receive and record certain "traffic data" on their server logs from your browser including your IP address, Blurbi cookie information, and the page you requested. Blurbi uses this traffic data to help diagnose problems with its servers, analyze trends and administer the website.
                    <br>
                    2. Blurbi may collect and, on any page, display the total social influence (Data taken from Facebook and Twitter) that a Blurb received. This includes User Profile pages.
                    <br>
                    <br>
                    <b>E-mail Communications</b>
                    <br>
                    Blurbi is very concerned about your privacy and we will never provide your email address to a third party without your explicit permission, as detailed in the "Sharing Your Information" section below. Blurbi may send out e-mails with Blurbi-related news, products, offers, surveys or promotions. You may also receive notification e-mails from Blurbi, which inform you of actions (e.g. frequests) that have been performed on the site. If you do not want to receive e-mail from us, please visit the Email Preferences section of your User Profile and/or follow the instructions contained in the unwanted e-mail message. However, please note that in all cases you will continue to receive all system e-mails (e.g. those regarding forgotten user passwords) and legal notices (e.g. updates to our policies) from us.
                    <br>
                    <br>
                    <br>
                    <b>Cookies</b>
                    <br>
                    Cookies are alphanumeric identifiers that we transfer to your computer's hard drive through your Web browser to enable our systems to recognize your browser and tell us how and when pages in our website are visited and by how many people. Blurbi cookies do not collect personal information, and we do not combine information collected through cookies with other personal information to tell us who you are or what your screen name or e-mail address is.
                    <br>
                    The "help" portion of the toolbar on the majority of browsers will direct you on how to prevent your browser from accepting new cookies, how to command the browser to tell you when you receive a new cookie, or how to fully disable cookies. We recommend that you leave the cookies activated because cookies allow you to use some of Blurbi's best features. Some of our business partners, like our advertisers, may use cookies on our website. We have no access to, or control over, these cookies.
                    <br>
                    <br>
                    <br>
                    <b>Sharing Your Information</b>
                    <br>
                    Because Blurbi enables people to discover and share Content with one another, information about the people who use Blurbi is an integral part of the Blurbi experience. Rest assured that we neither rent nor sell your personal information to anyone and that we will share your personal information only as described below.
                    <br>
                    1. Blurbi Personnel: Blurbi personnel and authorized consultants and/or contractors may have access to user information if necessary in the normal course of Blurbi business.
                    <br>
                    2. Business Transfers: In some cases, we may choose to buy or sell assets. In these types of transactions, user information is typically one of the business assets that is transferred. Moreover, if Blurbi, or substantially all of its assets, were acquired, user information would be one of the assets that is transferred.
                    <br>
                    3. Protection of Blurbi and Others: We may release personal information when we believe in good faith that release is necessary to comply with a law; to enforce or apply our Terms of Use and other policies; or to protect the rights, property, or safety of Blurbi, our employees, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction.
                    <br>
                    4. User Profile information: Information collected during registration and subsequent visits, such as your full name and location, may be displayed to other You may control what personal information is displayed in your User Profile by visiting the Settings section of your User Profile.
                    <br>
                    5. With Your Consent: Except as noted above, we will contact you when your personal information is shared with third parties or used for a purpose incompatible with the purpose(s) for which it was originally collected, and you will be able to opt out to prevent the sharing of this information.
                    <br>
                    <br>
                    <b>Keeping Information Secure</b>
                    <br>
                    1. Your Blurbi account information is protected by a password for your privacy and security. Protect against unauthorized access to your password and to your computer by logging off once you have finished using a shared computer.
                    <br>
                    2. Only employees who need personal information to perform a specific job (for example, a customer service representative) are granted access to it. All of our employees are kept up to date on our privacy and security practices.
                    <br>
                    <br>
                    <br>
                    <br>
                    <b>Ways to Control Display and Use of Your Information</b>
                    <br>
                    1. By visiting your User Profile, you can correct, amend, add or delete personal information on our website.
                    <br>
                    2. If you do not wish to receive e-mail from us or other Blurbi users, please visit the Settings of your User Profile and/or follow the instructions contained in the unwanted e-mail message.
                    <br>
                    3. However, please note that you will continue to receive all system e-mails (e.g. those regarding forgotten user passwords) and legal notices (e.g. updates to our policies) from us.
                    <br>
                    4. As explained earlier, the "help" portion of the toolbar on the majority of browsers will direct you on how to prevent your browser from accepting new cookies, how to command the browser to tell you when you receive a new cookie, or how to fully disable cookies. Please note, however, that if your browser does not accept cookies, you will not be able to take advantage of some of our attractive features.
                    <br>
                    <br>
                    <br>
                    <br>
                    <b>Children Under 18 Years of Age</b>
                    <br>
                    You must be 14 years and older to register to use the Blurbi website. As a result, Blurbi does not specifically collect information about children. If we learn that Blurbi has collected information from a child under the age of 13, we will delete that information as quickly as possible. We recommend that minors between the ages of 14 and 18 ask and receive their parents' permission before using Blurbi or sending information about themselves or anyone else over the Internet.
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <b>Changes to this Privacy Policy</b>
                    <br>
                    Blurbi may amend this Privacy Policy from time to time, at its sole discretion. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used. If we make changes to the Privacy Policy, we will notify you by posting an announcement on the Blurbi website so you are always aware of what information we collect, how we use it, and under what circumstances if any, it is disclosed.
                    <br>
                    <br>
                    <br>
                    <b>Conditions of Use</b>
                    <br>
                    If you decide to visit Blurbi website, your visit and any possible dispute over privacy is subject to this Privacy Policy and our Terms of Use, including limitations on damages, arbitration of disputes, and application of Ontario law.
                    <br>
                    <br>
                    <br>
                    <b>Effective Date of this Privacy Policy</b>
                    <br>
                    This Privacy Policy is effective as of October 12th, 2013
                    
                    </p>  
                </div>  
            </div>
</body>
</html>