<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Writer registration success</title>
	<link rel="shortcut icon" href="img/favicon.png">
	<!-- Killua Flat Forms Demo  Stylesheets -->
	<link rel="stylesheet" href="../assets/css/reset.css">
	<link rel="stylesheet" href="../assets/css/killua.css">
	<link rel="stylesheet" href="../assets/css/demo.css">
	<link rel="stylesheet" href="../assets/css/404.css">
</head>
<body style=" background-color: white; ">
<!-- For demo change colors -->
<!-- End colors panel -->
	<div class="killua-container">
		<form action="#" class="killua">
			<img class="derek-img" src= http://i.imgur.com/lp7qydN.png>
				<fieldset>
						Awesome! We'll get back to if we feel that you have the proper expertise.  If not, feel free to submit again in the future.
						<br><br>
						Cheers,
						<br><br>
						- Derek &amp; the Blurbi team
				</fieldset>
		</form>
		<br>
		<a href="/" class="myButton" style="color: black">Home</a>
	</div>
	<!-- END -->
</body>
</html>